<%if SelectedProduct.all.count != 0%>
<div>
  <h1>Cart</h1>
  <h4 style="float:right !important"><%= link_to 'Place an order', orders_path,
                method: :post,
                data: { confirm: 'Are you sure?' } %></h4>
<div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3" align="centre">Links</th>
    </tr>
  </thead>
 <tbody>
  <% SelectedProduct.all.each do |product| %>
  <% if product.user_id == current_user.id %>
    <% s = Product.find(product.product_id)%>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.description %></td>
        <td><%= image_tag s.img.url %></td>
        <td><%= s.price %></td>
        
        <td>
            <%= form_for :selected_product, :url => selected_product_path(id: product), method: :put do |f| %>
                <div class="field">
                    <%= f.number_field :quantity, :value => product.quantity %>
                    <%= submit_tag "Update" %>
                </div>
            <% end %>

        </td>
        
        <% if user_signed_in? %>
          <td>
          <%= link_to 'Edit', edit_selected_product_path(product) %>&nbsp &nbsp
          <%= link_to 'Remove', selected_product_path(product),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
          
        <% end %>
      </tr>
    <% end %>
  <% end %>
<tbody>
</table>

<% end %>
<%= link_to 'New Product', new_product_path %> &nbsp &nbsp | &nbsp &nbsp 
<%= link_to 'New Category', new_category_path %>